<div class="event-nav">
  <ul>
    <a href="/event_about/<%= eventData._id %>">
      <li>About</li>
    </a>
    <a href="/event_theme/<%= eventData._id %>">
      <li>Theme</li>
    </a>
    <a href="/event_guest/<%= eventData._id %>">
      <li>Guest</li>
    </a>
    <a href="/event_FAQs/<%= eventData._id %>">
      <li>FAQs</li>
    </a>
  </ul>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the current URL path
    var path = window.location.pathname;

    // Find the corresponding link and add the 'active' class
    var eventLinks = document.querySelectorAll(".event-nav a");
    eventLinks.forEach(function (link) {
      var linkHref = link.getAttribute("href");
      if (path === linkHref) {
        link.classList.add("active");
      }
    });
  });
</script>