<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>De Conquista</title>
  <meta name="description"
    content="Welcome to DeConquista - a  journey into critical engagements with contemporary sociopolitical institutions, knowledge, and imaginations. Our series of academic programs delve deep into the impacts of colonialism, particularly in the aftermath of the Fall of Granada in 1492 and the 'Reconquista' that heralded it, shaping the foundations of political modernity. DeConquista scrutinizes the concepts and institutions that evolved through various colonial transactions, challenging Eurocentric forms of knowledge, politics, socio-religious establishments, and racial imaginings. From the moment Vasco da Gama reached the Malabar coast in 1498 to the present day, our programs navigate the complexities of Eurocentric influences, seeking to reposition knowledge, power, and resistance. Embark on this intellectual odyssey through a four-month-long academic journey, comprising a series of seminars, workshops, public discussions, book talks, online conclave, and an academic conference. Join us in re-reading / de reading the history, reclaiming narratives, and reshaping contemporary discourse. DeConquista: Unraveling, Relocating, and Reimagining." />

  <meta name="keywords"
    content="DeConquista, sio kerala, Sio, malabar, events, history, knowledge, DeConquista kerala, islam, muslim, navigating muslimness, relocating knowledge, islamic reading sessions, islamic workshop, islamic seminar, campus alive, sio campus alive, sio deconquista, calicut " />

  <meta name="author" content="DeConquista" />

  <meta name="robots" content="follow" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/decon-logo.svg" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet" />

  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css" />

  <!-- CSS ============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="../assets/css/all.min.css" />
  <link rel="stylesheet" href="../assets/css/flaticon.css" />

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="../assets/css/aos.css" />
  <link rel="stylesheet" href="../assets/css/nice-select.css" />

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="../assets/css/style.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <!-- carousel Style CSS -->
  <link rel="stylesheet" href="../assets/css/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" />
  <link rel="stylesheet" href="../assets/css/css/style.css" />
</head>

<body>
  <!-- Header Start -->
  <div class="meeta-header-section meeta-header-2 meeta-header-3" style="
        background-image: url(/../assets/images/Rectangle\ 975.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      ">
    <!-- Header Middle Start -->
    <div class="header-middle header-sticky">
      <div class="container">
        <div class="header-wrap">
          <!-- Header Logo Start -->
          <div class="header-logo header-logo-3">
            <a class="logo-black" href="/"><img src="../assets/images/decon-logo.svg" alt="Logo" /></a>
            <a class="logo-white" href="/"><img src="../assets/images/decon-logo.svg" alt="Logo" /></a>
          </div>
          <!-- Header Logo End -->
          <!-- Header Navigation Start -->
          <div class="header-navigation d-none d-lg-block">
            <ul class="main-menu">
              <li id="home-menu"><a href="/">Home</a></li>
              <li id="event-menu"><a href="/event">Events</a></li>
              <li><a href="/speaker">Speakers</a></li>
              <li id="calender-menu"><a href="/calender">Calender</a></li>
              <li id="news-menu"><a href="/updates">Updates</a></li>
              <li id="iac-menu"><a href="/iac">Iac</a></li>
              <li id="deconquista-menu">
                <a href="/deconquista">Deconquista</a>
              </li>
            </ul>
          </div>
          <div class="btn_register_items">
            <div class="header-btn">
              <a href="/program-schedule" class="btn-2">Program Schedule</a>
            </div>
            <a href="/auth/google">
              <button class="btn_register">
                <span class="btn-text-one fa fa-user"></span>
                <span class="btn-text-two"></span>
              </button></a>
          </div>
          <div class="header-toggle" style="display: none">
            <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <!-- Header Toggle End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Middle End -->
  <!-- Header End -->
  <!-- Offcanvas Start-->
  <!-- Offcanvas Start-->
  <div class="bottombarContainer">
    <a href="/">
      <div class="bottomBarLink">
        <img src="/assets/images/home.svg" alt="" />
      </div>
    </a>
    <a href="/event">
      <div class="bottomBarLink">
        <img src="/assets/images/event.svg" alt="" />
      </div>
    </a>
    <a href="/calender" aria-current="page">
      <div class="bottomBarLink">
        <img src="/assets/images/calender.svg" alt="" />
      </div>
    </a>
    <a href="/updates">
      <div class="bottomBarLink">
        <img src="/assets/images/decon.svg" alt="" />
      </div>
    </a>
    <!-- <a href="/quotes">
        <div class="bottomBarLink">
          <img src="/assets/images/quotes.svg" alt="" />
        </div>
      </a> -->
    <a href="/deconquista">
      <div class="bottomBarLink">
        <img src="/assets/images/updates.svg" alt="" />
      </div>
    </a>
  </div>

  <!-- Your other HTML content here... -->

  <script>
    // Get the current URL path
    var path = window.location.pathname;

    // Find the corresponding menu item and add the 'active-menu' class
    $("ul.main-menu li").each(function () {
      var menuItemLink = $(this).find("a").attr("href");
      if (path === menuItemLink) {
        $(this).addClass("active-menu");
      }
    });
  </script>
  <script>
    // Get the current URL path
    var path = window.location.pathname;
    // Find the corresponding bottom bar link and add the 'activeContainer' class
    $(".bottombarContainer a").each(function () {
      var linkHref = $(this).attr("href");
      if (path === linkHref) {
        $(this).addClass("activeContainer");
      }
    });
  </script>
  <script>
    const image = document.querySelector(".news-details-head-img img");
    const popup = document.getElementById("popup");

    // Add a click event listener to the image
    image.addEventListener("click", function () {
      // Show the popup
      popup.style.display = "block";

      // Hide the popup after a certain time (e.g., 2 seconds)
      setTimeout(function () {
        popup.style.display = "none";
      }, 2000); // Adjust the time (in milliseconds) as needed
    });
  </script>
</body>

</html>