<div class="updates-menu">
    <ul>
        <a href="/news">
            <li>News</li>
        </a>
        <a href="/article">
            <li>Article</li>
        </a>
        <a href="/testimonial">
            <li>Testimonial</li>
        </a>
        <a href="/gallery">
            <li>Gallery</li>
        </a>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Get the current URL path
        var path = window.location.pathname;

        // Find the corresponding bottom bar link and add the 'activeContainer' class
        $(".updates-menu a").each(function () {
            var linkHref = $(this).attr("href");
            if (path === linkHref) {
                $(this).addClass("active");
            }
        });
    });
</script>