<head>
  <meta
    name="description"
    content="Welcome to DeConquista - a  journey into critical engagements with contemporary sociopolitical institutions, knowledge, and imaginations. Our series of academic programs delve deep into the impacts of colonialism, particularly in the aftermath of the Fall of Granada in 1492 and the 'Reconquista' that heralded it, shaping the foundations of political modernity. 
    
    DeConquista scrutinizes the concepts and institutions that evolved through various colonial transactions, challenging Eurocentric forms of knowledge, politics, socio-religious establishments, and racial imaginings. From the moment Vasco da Gama reached the Malabar coast in 1498 to the present day, our programs navigate the complexities of Eurocentric influences, seeking to reposition knowledge, power, and resistance.
    
    Embark on this intellectual odyssey through a four-month-long academic journey, comprising a series of seminars, workshops, public discussions, book talks, online conclave, and an academic conference. Join us in re-reading / de reading the history, reclaiming narratives, and reshaping contemporary discourse. DeConquista: Unraveling, Relocating, and Reimagining."
  />

  <meta
    name="keywords"
    content="DeConquista, sio kerala, Sio, malabar, events, history, knowledge, DeConquista kerala, islam, muslim, navigating muslimness, relocating knowledge, islamic reading sessions, islamic workshop, islamic seminar, campus alive, sio campus alive, sio deconquista, calicut "
  />

  <meta name="author" content="DeConquista" />

  <meta name="robots" content="follow" />
</head>
<section class="quotes_deconquista">
  <div class="events-page-main">
    <div class="event-title">
      <h1>Quotes</h1>
    </div>
  </div>
  <div class="rectangle"></div>
  <!-- Slideshow container -->
  <div class="">
    <!-- Full-width slides/quotes -->
    <div class="mySlides_quotes row">
      <div class="slideshow_container_quotes">
        <div class="col-12">
          <div class="card_quotes">
            <div class="card_quotes_img">
              <img src="assets/images/Rectangle 983.png" alt="" />
            </div>
            <div class="card_quotes_desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis sit necessitatibus rerum dolores quasi, ea ipsum
                fugit distinctio.
              </p>
              <div class="card_quotes_desig">
                <h3>Rana Ayyub</h3>
                <h5>Director of CIGA &Public Affairs</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mySlides_quotes">
      <div class="mySlidesContainer_quotes">
        <div class="col-12">
          <div class="card_quotes">
            <div class="card_quotes_img">
              <img src="assets/images/Rectangle 983.png" alt="" />
            </div>
            <div class="card_quotes_desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis sit necessitatibus rerum dolores quasi, ea ipsum
                fugit distinctio.
              </p>
              <div class="card_quotes_desig">
                <h3>Rana Ayyub</h3>
                <h5>Director of CIGA &Public Affairs</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mySlides_quotes">
      <div class="mySlidesContainer_quotes">
        <div class="col-12">
          <div class="card_quotes">
            <div class="card_quotes_img">
              <img src="assets/images/Rectangle 983.png" alt="" />
            </div>
            <div class="card_quotes_desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis sit necessitatibus rerum dolores quasi, ea ipsum
                fugit distinctio. daag
              </p>
              <div class="card_quotes_desig">
                <h3>Rana Ayyub</h3>
                <h5>Director of CIGA &Public Affairs</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END slidehow-container -->

  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot_quotes"></span>
    <span class="dot_quotes"></span>
    <span class="dot_quotes"></span>
  </div>
</section>
