<!-- ========== Start header ========== -->
<%-include("mainHeader.ejs")%>
  <!-- ========== End header ========== -->

  <body id="bg-color-purple">
    <div>
        <div class="page_backarrow">
            <a href="/"
              ><i
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="22"
                  viewBox="0 0 19 20"
                  fill="none"
                >
                  <path
                    d="M10.0054 0.265434C10.3271 0.587173 10.3564 1.09064 10.0931 1.44542L10.0054 1.54706L2.18829 9.36458L10.0054 17.1821C10.3271 17.5038 10.3564 18.0073 10.0931 18.3621L10.0054 18.4637C9.68366 18.7855 9.18019 18.8147 8.82541 18.5515L8.72376 18.4637L0.265433 10.0054C-0.0563049 9.68365 -0.0855541 9.18019 0.177686 8.82541L0.265433 8.72376L8.72376 0.265434C9.07768 -0.0884781 9.65148 -0.0884781 10.0054 0.265434Z"
                    fill="#FF4A8C"
                  /></svg></i
            ></a>
          </div> 

          <div class="container">
            <div class="events-page-main">
                <div class="event-title">
                    <h1>Quotes</h1>
                  </div>
                </div>
          </div>
          <div class="container">
        <div class="row g-3">
            <!-- card-1 -->
            <div class="col-12">          
                      <div class="card_quotes">
                        <div class="card_quotes_img">
        <img src="assets/images/Rectangle 983.png" alt="">
                        </div>
                        <div class="card_quotes_desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sit necessitatibus rerum dolores quasi, ea ipsum fugit distinctio. </p>
        <div class="card_quotes_desig">
            <h3>Rana Ayyub</h3>
            <h5>Director of CIGA &Public Affairs 
            </h5>
          </div>                
        </div>          
    </div>                           
                    </div>
                    <!-- card-2 -->
                    <div class="col-12">
                        
                              <div class="card_quotes">
                                <div class="card_quotes_img">
                <img src="assets/images/Rectangle 983.png" alt="">
                                </div>
                                <div class="card_quotes_desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sit necessitatibus rerum dolores quasi, ea ipsum fugit distinctio. </p>
                <div class="card_quotes_desig">
                    <h3>Rana Ayyub</h3>
                    <h5>Director of CIGA &Public Affairs 
                    </h5>
                  </div>                
                </div>            
                    </div>                            
            </div>
            <!-- card-3 -->
       
            <div class="col-12">
                        
                <div class="card_quotes">
                  <div class="card_quotes_img">
  <img src="assets/images/Rectangle 983.png" alt="">
                  </div>
                  <div class="card_quotes_desc">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sit necessitatibus rerum dolores quasi, ea ipsum fugit distinctio. </p>
  <div class="card_quotes_desig">
      <h3>Rana Ayyub</h3>
      <h5>Director of CIGA &Public Affairs 
      </h5>
    </div>                
  </div>            
      </div>                            
</div>
          </div>
    </div>
    
  </body>