<head>
  <meta
    name="description"
    content="Welcome to DeConquista - a  journey into critical engagements with contemporary sociopolitical institutions, knowledge, and imaginations. Our series of academic programs delve deep into the impacts of colonialism, particularly in the aftermath of the Fall of Granada in 1492 and the 'Reconquista' that heralded it, shaping the foundations of political modernity. 
    
    DeConquista scrutinizes the concepts and institutions that evolved through various colonial transactions, challenging Eurocentric forms of knowledge, politics, socio-religious establishments, and racial imaginings. From the moment Vasco da Gama reached the Malabar coast in 1498 to the present day, our programs navigate the complexities of Eurocentric influences, seeking to reposition knowledge, power, and resistance.
    
    Embark on this intellectual odyssey through a four-month-long academic journey, comprising a series of seminars, workshops, public discussions, book talks, online conclave, and an academic conference. Join us in re-reading / de reading the history, reclaiming narratives, and reshaping contemporary discourse. DeConquista: Unraveling, Relocating, and Reimagining."
  />

  <meta
    name="keywords"
    content="DeConquista, sio kerala, Sio, malabar, events, history, knowledge, DeConquista kerala, islam, muslim, navigating muslimness, relocating knowledge, islamic reading sessions, islamic workshop, islamic seminar, campus alive, sio campus alive, sio deconquista, calicut "
  />

  <meta name="author" content="DeConquista" />

  <meta name="robots" content="follow" />
</head>

<div class="container">
  <div class="deconquista-slider">
    <div class="slide-container swiper swiper_border">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <% testimonialData.forEach(item=> { %>
          <div class="card-one swiper-slide">
            <div class="card-content">
              <p class="description-testimonial"><%= item.content %></p>
            </div>
            <div class="image-content">
              <span class="overlay"></span>
              <div class="testimonial_header_items">
                <div>
                  <img
                    src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ item.image }` %>"
                    alt=""
                    class="card-img-testimonial"
                  />
                </div>
                <div class="testimonial_header_data">
                  <h2><%= item.author %></h2>
                  <h3><%= item.title %></h3>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>
