<div class="container">
    <div class="deconquista-slider">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card2 swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="testimonial_header_items">
                                
                                <div>
                                    <img src="../assets/images/worshop.png" alt="" class="card-img-testimonial" />
                                </div>
                               <div class="testimonial_header_data">
                                <h2>Rana Ayyub</h2>
                               <h3>Designation</h3>
                               </div>
                            </div>
                        </div>

                        <div class="card-content">

                            <p class="description-testimonial">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolore
                                similique explicabo? Fugiat quasi dolorum quas consequuntur animi ipsam
                                ratione consequatur dolorem aliquid explicabo eius, commodi laboriosam ex
                                impedit dolor.
                            </p>

                            <!-- <button class="button">View More</button> -->
                        </div>
                    </div>
                    <div class="card2 swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="testimonial_header_items">
                                
                                <div>
                                    <img src="../assets/images/worshop.png" alt="" class="card-img-testimonial" />
                                </div>
                               <div class="testimonial_header_data">
                                <h2>Rana Ayyub</h2>
                               <h3>Designation</h3>
                               </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="description-testimonial">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, est
                                minus possimus vero, sapiente corporis, voluptatem ut deleniti tempora error
                                unde asperiores iusto. Quae veniam illo, ea impedit unde dolorum!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>